.login-form form {
  border: 3px solid #f1f1f1;
}
.login-form input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 9px 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

.login-form button {
  background-color: #04aa6d;
  color: white;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  float: right;
}

.login-form button:hover {
  opacity: 0.8;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
 
}
.login-form .container {
  padding: 16px;
  width: 100%;
}
.login-form .container-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-form .container-content .lablename {
  width: 30%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.login-form .container-content .remember {
  font-weight: normal
}
.login-form .container-content-left {
  font-size: 14px;
  width: 100%;
}
.login-form .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.login-form img.avatar {
  width: 25%;
  border-radius: 50%;
}
.login-form .container-footer {
  background-color: #f1f1f1;
}
.login-form .container-footer span {
  display: block;
  font-size: 14px;
  padding: 10px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .login-form .container-footer span {
    display: block;
    float: none;
  }
  .login-form .cancelbtn {
    width: 100%;
  }
}
