<template>
  <div class="login-form">
    <form @submit.prevent="handleLogin">
      <div class="imgcontainer">
        <img
          src="../assets/images/avata-login.png"
          alt="Avatar"
          class="avatar"
        />
      </div>
      <div class="container">
        <div class="container-content">
          <label class="lablename"><b>Username</b></label>
          <input
            type="text"
            placeholder="Enter Username"
            name="uname"
            required
            v-model="user.username"
          />
        </div>
        <div class="container-content">
          <label class="lablename"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
            v-model="user.password"
          />
        </div>
        <div class="container-content">
          <div class="container-content-left">
            <label class="remember">
              <input type="checkbox" name="remember" />
              Remember me
            </label>
          </div>
          <div class="container-content-right">
            <button type="submit">Login</button>
          </div>
        </div>
      </div>
      <div class="container-footer">
        <span><a href="#">Forgot password?</a></span>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "login",
  data() {
    return {
      user: {
        username: "",
        password: "",
      },
      message: "",
      loading: false,
    };
  },
  methods: {
    handleLogin() {
      this.loading = true;
      this.$store
        .dispatch("auth/login", this.user)
        .then(() => {
          this.$router.push("/admin");
        }),
         (error) => {
          this.loading = false;
          this.message =
            (error.response &&
              error.response.data &&
              error.response.data.message) ||
            error.message ||
            error.toString();
        }
    },
  },
  created() {},
};
</script>
<style scoped></style>
