<template>
  <div class="table-phanquyen">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="6" scope="col">Phân Quyền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="2" scope="row">User</th>
          <td>All</td>
          <td>Thêm</td>
          <td>Xóa</td>
          <td>Sửa</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Administrator</td>
          <td>
            <input
              v-model="checkAll"
              @change="checkalls()"
              type="checkbox"
              name=""
              id=""
            />
          </td>
          <td>
            <input
              v-model="startcheckAdd"
              @change="checkstart()"
              type="checkbox"
              name=""
              id=""
            />
          </td>
          <td>
            <input
              v-model="startcheckDelete"
              @change="checkstart()"
              type="checkbox"
              name=""
              id=""
            />
          </td>
          <td>
            <input
              v-model="startcheckUpdate"
              @change="checkstart()"
              type="checkbox"
              name=""
              id=""
            />
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>LongTP1</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>TamTT2</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>HieuDT1</td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
          <td><input type="checkbox" name="" id="" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  data() {
    return {
      checkAll: false,
      startcheckAdd: false,
      startcheckDelete: false,
      startcheckUpdate: false,
    };
  },
  computed: {},
  methods: {
    checkalls() {
      if (this.checkAll == true) {
        (this.startcheckAdd = true),
          (this.startcheckDelete = true),
          (this.startcheckUpdate = true);
      } else {
        (this.startcheckAdd = false),
          (this.startcheckDelete = false),
          (this.startcheckUpdate = false);
      }
    },
    checkstart() {
      if (
        this.startcheckAdd == false ||
        this.startcheckDelete == false ||
        this.startcheckUpdate == false
      ) {
        this.checkAll = false;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.table {
    color: #000;
}
.table-phanquyen {
  padding: 25px;
  color: #000;
}
.container {
  padding: 2rem 0rem;
}
h4 {
  margin: 2rem 0rem 1rem;
}
.table-image {
  td,
  th {
    vertical-align: middle;
  }
}
</style>
